<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Survey</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="text-center display-3">Оформление заявки:</div>
<a th:href="@{/survey}">Оформить заявку</a>
<br>
<br>
<div class="text-center display-3">Список заявок:</div>

<table>
    <thead>
    <tr>
        <th> Id </th>
        <th> Date of creation </th>
        <th> Comment </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
        <td><span th:text="${order.id}"> Id </span></td>
        <td><span th:text="${order.dateOfCreation}"> Date of creation </span></td>
        <td><span th:text="${order.comment}"> Comment </span></td>
<!--        <td><a th:href="'/client/' + ${user.id}" th:text="${orders.name}"></a></td>-->
    </tr>
    </tbody>
</table>
</body>
</html>