<!DOCTYPE html>
<html lang="ru">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Survey</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<h1>Посмотреть список заявок:</h1>
<a th:href="@{/}">Список заявок</a>
<h1>Заявка на получение заказа</h1>
<form th:action="@{/survey}" th:method="post" th:object="${order}">
    <div class="row gy-2 px-3">
        <label for="name">Имя:</label>
        <input type="text" id="name" name="name" th:field="*{name}" placeholder="Имя"><br><br>
        <label for="email">Электронная почта:</label>
        <input type="email" id="email" name="email" th:field="*{email}" th:value="*{email}" placeholder="Email"><br><br>
        <label for="phone">Телефон:</label>
        <input type="tel" id="phone" name="phone" th:field="*{phone}" placeholder="Телефон"><br><br>
        <label for="comment">Комментарий:</label>
        <textarea id="comment" name="comment" th:field="*{comment}" placeholder="Комментарий"></textarea><br><br>
        <p>Выберите способ получения заказа:</p>
        <div th:each="oType : ${T(ru.example.survey.model.OrderType).values()}">
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" th:field="*{orderType}" th:value="${oType}" class="custom-control-input">
                <label class="custom-control-label" th:for="${#ids.prev('orderType')}" th:text="${oType}">type</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" data-bs-toggle="modal">Отправить заявку</button>
    </div>
</form>
</body>
</html>